= content_for :phrase do
  .desc.span8.offset2
    %p Pensado para ser um site de código fonte aberto, rodando para todo o Brasil, o Junt.us oferece espaço para criação e divulgação de idéias

.row-fluid
  .span12
    %ul#ideas
      = render @ideas