%h1 Junt.Us
.section
  %p Crie e participe de novas idéias
  %p= link_to "Criar Idéia", new_idea_path
.section
  %ul#ideas
    - @ideas.each do |idea|
      %li
        %h4= link_to idea.title, idea_path(idea)
        %p= idea.short_description
        
        
        