%h1 Junt.Us
.section
  %p Crie e participe de novas idéias
  %p Criar idéia (botão)
.section
  %ul#ideas
    - @ideas.each do |idea|
=======
      %li
        %h4= idea.title
        %p= idea.short_description