.row.content
  .span4
    %h2
      Desenvolvimento
    %p
      Eduardo Fiorezi
    %p  
      Anézio Marques
    %p  
      Rodrigo Reginato
    = link_to image_tag("http://hooppe.com/images/img/footer-logo.png"), "http://hooppe.com"
    
  .span4
    %h2
      Desenvolvimento
    %p
      Flavio Graneiro
    
  .span2
    %h2
      Design
    %p
      Renato Moriama
