//*= require_tree .
//*= require_self
@import "bootstrap";
// @import "bootstrap-responsive";

body{
  background-color: #fffff8;
}

#ideas{
  position: relative;
  li{
    width: 180px;
    padding: 10px;
    background-color: #fff;
    -moz-transition: box-shadow 0.15s ease-out;
    -o-transition: box-shadow 0.15s ease-out;
    -webkit-transition: box-shadow 0.15s ease-out;
    -ms-transition: box-shadow 0.15s ease-out;
    transition: box-shadow 0.15s ease-out;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none;
    border: 1px solid #DEDEDE;
  }
}
