//*= require_tree .
//*= require_self
@import "bootstrap";
// @import "bootstrap-responsive";

// COLORS
$bg_color: #fffff8;
$link_color: #36767b;
$text_color: #666666;

$red: #c1272d;

body{
  background-color: $bg_color;
}

a{
  color: $link_color;
}

.container-fluid{
  padding: 0px;
  background: $bg_color image-url("background_repeat_header.png") repeat-x;
}

header{
  h1{
    padding-top: 10px;
    font-size: 500%;
  }
  .desc{
    font-size: 150%;
    line-height: 1.5em;
    margin: 10px 0px;
    color: $text_color;
  }
  
  #logo a{
    background: image-url("logo_header.png") no-repeat;
    width: 377px;
    height: 138px;
    text-indent: -9999px;
    display:block;
    position:relative;
    top: -20px;
  }
  
  #new-idea-button {
    float:right;
  }
}

#login{
  float: right;
}

#facebook-connect{
  display: block;
  background: transparent image-url("login_facebook.jpeg") no-repeat -3px;
  text-indent: -1000px;
  overflow: hidden;
  height: 48px;
  width: 209px;
}

#ideas{
  position: relative;
  li{
    width: 180px;
    background-color: #fff;
    -moz-transition: box-shadow 0.15s ease-out;
    -o-transition: box-shadow 0.15s ease-out;
    -webkit-transition: box-shadow 0.15s ease-out;
    -ms-transition: box-shadow 0.15s ease-out;
    transition: box-shadow 0.15s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: none;
    border: 1px solid #DEDEDE;
  }
  h4 a{
    padding: 5px 0px;
    display: block;
    font-weight: normal;
    color: #fff;
    background-color: $red;
  }
  .desc{
    padding: 5px 10px;
    color: $text_color;
  }
}
